.header-contents {
    position: relative;
}

.banner {
    position: relative;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: block;
    margin: 50px auto 0px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

}

.banner-texts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFF;
}

.banner-p {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-h2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
}

.off65 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.holiday {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.allcat {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;
}

.newyear {
    width: 802.9px;
    height: 500px;
    position: relative;
    display: block;
    margin: 50px auto 0px;
    padding-bottom: 100px;
}

.section2 {
    position: relative;
}


.bottom-image {
    width: 1320px;
    height: 600px;
    position: relative;
    display: block;
    margin: auto;
}

.top-image {
    position: absolute;
    top: 50%;
    left: 60%;
    display: block;
    transform: translate(-50%, -50%);
    width: 319.83px;
    height: 464.662px;
}

.welcome {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    width: 642px;
    text-align: left;
}

.para {
    position: absolute;
    top: 65%;
    left: 45.5%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 697px;
}

.join {
    position: absolute;
    top: 74%;
    left: 38%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.section3 {
    position: relative;
    width: 1320px;
    height: 600px;
    display: block;
    margin: 100px auto 0px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.sec3span {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.sec3h4 {
    padding-top: 100px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
}

.joinb {
    margin-left: 580px;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: none;
}

.foot {
    margin: auto;
    width: 1600px;
    height: 609px;
    background-color: black;
}

.contact {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 120px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.social-media {
    justify-content: center;
    padding-left: 640px;
    padding-top: 30px;
}

.copyright {
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 150px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.sec7 {
    position: relative;
    display: block;
    margin: 100px auto 120px;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.atthe {
    padding: 80px 585px 0px 585px;
}

.sub {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.sec7p {
    padding-left: 212px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
}

.btnn {
    display: flex;
    flex-direction: row;
}

.inputt {
    width: 648px;
    height: 72px;
    margin-left: 340px;
    border-radius: 50px;
    background: #FFF;
    border: none;
}

.inputtbtn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: -200px;
    border: none;
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

.inputt::placeholder {
    padding-right: 450px;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}